<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://www.blastbeat.fr/mylogbook</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>blastbeat.fr</MSDeployServiceURL>
    <DeployIisAppPath>blastbeat.fr/mylogbook</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>zblastbe28547fr</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects>
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="True">
          <Destination Path="Data Source=localhost;Initial Catalog=istgma140194com31777_blastbeat;User ID=istgma140194com31777_blastbeat;Password=Jarvis71$" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="MyLogbook.Models.ApplicationDbContext, MyLogbook" MigrationConfiguration="MyLogbook.Migrations.Configuration, MyLogbook" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="MyLogbook.Models.BddContext" Order="2" Enabled="False" xmlns="">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="MyLogbook.Models.BddContext, MyLogbook" Origin="Convention" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=localhost;Initial Catalog=istgma140194com31777_blastbeat;User ID=istgma140194com31777_blastbeat;Password=Jarvis71$</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)MyLogbook.Models.BddContext-Web.config Connection String" />
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="MyLogbook.Models.BddContext" />
  </ItemGroup>
</Project>