
<div class="panel panel-default">
    <!-- Default panel contents -->
    <canvas id="TheChartBooks"></canvas>
</div>

<script>
    var ctxBooks = document.getElementById("TheChartBooks");
    var TheChartBooks = new Chart(ctxBooks, {
        type: 'bar',
        data: {
            labels: @Html.Raw(ViewBag.YearListBooks),
            datasets: [{
                label: '# livres lus',
                data:  @Html.Raw(ViewBag.CountListBooks),
                backgroundColor: 'rgba(54, 162, 235, 0.2)',
                borderColor: 'rgba(54, 162, 235, 0.2)',
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero:true
                    }
                }]
            }
        }
    });
</script>



